.bodyContent{
    background-color: white;
    box-shadow: 7px 7px 5px #343a4040 !important;
    padding: 2%;
}

.bodyContent .card-body:hover {
    background-color: rgba(0, 189, 145, .1);;
}

img .role_icons {
    width: 25px !important;
}

#attendanceRow {
}

.breadcrumb {
    background-color: rgba(255, 255, 255, 0);;
}

.globalTitle {
    margin-bottom: 20px;
}

.first-letter-title {
    display: inline;
    color: #ff7802;
    font-size: 2.9em;
    background-color: white;
}

.title {
    display: inline;
    font-size: 2.0em;
    color: #ffffff;
    background-color: #ff7802;
}

.justCreated {
    background-color: #31d074;
}

#InputRFID {
    display: none;
}

.fadeIn {
    animation: fadeIn ease 0.8s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.glowEffect {
    /*background: 50% 100% / 50% 50% no-repeat*/
    /*radial-gradient(ellipse at bottom, #fff, transparent, transparent);*/
    /*-webkit-background-clip: text;*/
    /*background-clip: text;*/
    /*font-family: "Source Sans Pro", sans-serif;*/
    animation: glow 2500ms linear infinite 500ms;
}

@keyframes glow {
    40% {
        text-shadow: 0 0 1px #db1414;
    }
}



